# Mac OS
.DS_Store

# IntelliJ project files
.idea
*.iml
out
gen

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Folders
dist
build
node_modules

# Files
TODO.txt

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# NPM
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock
